.resume {
    display: flex;
    flex-direction: column;

    & h2 {
        margin-bottom: $spacing-16;
        font-size: $font-size-20;
    }

    & h2:not(:first-child) {
        margin-top: $spacing-24;
    }

    &__payment-methods {
        display: flex;
        gap: $spacing-16;

        &__method {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            padding: $spacing-16;

            & p,
            & span {
                font-weight: $font-weight-semibold;
            }

            & span {
                font-size: $font-size-20;
            }
        }
    }

    &__header {
        display: flex;

        &__detail {
            flex: 1;
            display: flex;
            flex-direction: column;

            &>div {
                display: flex;
                padding: $spacing-16;
            }

            &>div:not(:last-child) {
                border-bottom: 1px solid oklch(92.8% 0.006 264.531);
            }

            &>div>div {
                flex: 1;
            }

            &>div>div p {
                margin-bottom: $spacing-4;
            }

            &>div>div span {
                margin-bottom: $spacing-4;
                font-weight: $font-weight-semibold;
                font-size: $font-size-18;
            }
        }

        &__total {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: $spacing-16;
            border-left: 1px solid oklch(92.8% 0.006 264.531);

            & p {
                margin-bottom: $spacing-4;
            }

            & span {
                font-weight: $font-weight-semibold;
                font-size: $font-size-20;
            }
        }
    }

    &__products {
        display: flex;
        flex-direction: column;
    }

    &__product {
        width: 100%;
        padding: $spacing-16;
        display: flex;
        margin-bottom: $spacing-16;

        &__detail {
            flex: 1;

            & p:first-child {
                font-size: $font-size-18;
                font-weight: $font-weight-semibold;
                margin-bottom: $spacing-8;
            }

            & p {
                margin-bottom: $spacing-4;
            }

            & p span {
                font-weight: $font-weight-semibold;
            }
        }

        &__total {
            display: flex;
            align-items: center;
            justify-content: center;

            & span {
                font-weight: $font-weight-semibold;
                font-size: $font-size-20;
            }
        }
    }

    &__sells {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__sell {
        width: 100%;
        display: flex;
        padding: $spacing-16;

        &:not(:last-child) {
            margin-bottom: $spacing-16;
        }

        &__detail {
            flex: 1;

            & p {
                margin-bottom: $spacing-4;
            }

            & p span {
                font-weight: $font-weight-semibold;
            }


            & a {
                display: block;
                text-decoration: none;
                transition: $transition-5;
                color: oklch(62.3% 0.214 259.815);
                margin-top: $spacing-12;
            }
        }

        &__total {
            display: flex;
            align-items: center;
            justify-content: center;

            & span {
                font-weight: $font-weight-semibold;
                font-size: $font-size-20;
            }
        }
    }
}