.cart {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__table {
        width: 100%;
        background-color: white;
        border-radius: $border-radius-8;
        box-shadow: $shadow-flat;
        border-collapse: collapse;

        & thead {
            border-bottom: 1px solid oklch(92.8% 0.006 264.531);
        }

        & tbody tr:not(:last-child) {
            border-bottom: 1px solid oklch(96.7% 0.003 264.542);
        }

        & thead tr th {
            padding: $spacing-16;
        }

        & tbody tr td {
            padding: $spacing-16;
        }

        & tbody tr td:nth-child(3) .button {
            margin: 0 $spacing-16;
            background-color: unset;
        }


        & tbody tr td:not(:last-child) {
            border-right: 1px solid oklch(96.7% 0.003 264.542);
        }
    }

    &>button {
        margin-top: $spacing-16;
    }
}