/* SPACING */

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-56: 56px;
$spacing-60: 60px;

/* FONT SIZES */

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-44: 44px;

/* FONT WEIGHTS */

$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;

/* SHADOWS */

$shadow-flat: 0 1px 2px 0 rgba(0, 0, 0, .12);
$shadow-elevated: 0 8px 16px 0 rgba(0, 0, 0, .1);
$shadow-form: 0 0 0 1px rgba(0, 0, 0, .25);

/* BORDER-RADIUS */

$border-radius-8: 8px;
$border-radus-50p: 50%;

/* TRANSITIONS */

$transition-5: .5s;
$transition-18: .18s;